# Chainlit
chainlit
pydantic==2.10.1 # Required for chainlit
# Langchain
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langsmith

chromadb
tiktoken
pypdf
cryptography # required for pypdf
# BM25 retriever
nltk

